---
import { Picture } from "astro:assets";
import IconBed from "../assets/IconBed.svg";
import IconBath from "../assets/IconBath.svg";
import IconArea from "../assets/IconArea.svg";
import IconLove from "../assets/IconLove.svg";
import DefaultImage from "../assets/img/house.avif";

export interface Props {
  key: string;
  title: string;
  price: number;
  address: string;
  bedrooms: number;
  bathrooms: number;
  area: number;
  image: string;
  imageUrl: string;
}

const {
  key,
  title,
  price,
  address,
  bedrooms,
  bathrooms,
  area,
  image,
  imageUrl,
} = Astro.props;
---

<article>
  <a href={`/properties/${key}`}>
    <img
      src={imageUrl || "/placeholder.svg"}
      alt={`Image de ${title}`}
      width={400}
      height={300}
      class="block rounded-t-lg overflow-hidden object-cover w-full aspect-3/2"
    />
  </a>
  <div
    class="relative bg-white px-6 py-8 border border-indigo-200 border-t-0 rounded-b-lg space-y-4"
  >
    <p class="text-gray-500 flex items-center">
      <span class="text-2xl font-bold text-indigo-500">${price}</span>/month
    </p>
    <h3 class="text-2xl font-semibold">
      <a class="text-black" href={`/properties/${key}`}>{title}</a>
    </h3>
    <button
      class="absolute right-6 top-8 !mt-0 border border-indigo-200 rounded-full p-2"
    >
      <IconLove class="stroke-indigo-500 relative top-[1px]" />
    </button>
    <address class="text-gray-500 not-italic border-b border-indigo-100 pb-4">
      {address}
    </address>
    <ul class="flex justify-between text-sm :flex:gap-2">
      <li>
        <IconBed class="size-5 stroke-indigo-500" />
        <span>{bedrooms} beds</span>
      </li>
      <li>
        <IconBath class="size-5 stroke-indigo-500" />
        <span>{bathrooms} bathrooms</span>
      </li>
      <li>
        <IconArea class="size-5 stroke-indigo-500" />
        <span>{area} m<sup>2</sup></span>
      </li>
    </ul>
  </div>
</article>
