---
import IconBed from "../assets/IconBed.svg";
import IconBath from "../assets/IconBath.svg";
import IconArea from "../assets/IconArea.svg";
import IconLove from "../assets/IconLove.svg";
import DefaultImage from "../assets/img/house.avif";
import { Debug } from "astro:components";

export interface Props {
  key: string;
  title: string;
  price: number;
  address: string;
  chambre: number;
  salle_de_bain: number;
  surface: number;
  image: string;
  imageUrl: string;
  favoris: boolean;
}

const {
  key,
  title,
  prix,
  address,
  chambre,
  salle_de_bain,
  surface,
  image,
  imageUrl,
  favoris,
} = Astro.props;
---


<article

  class="flex flex-col md:flex-row border border-indigo-200 rounded-lg overflow-hidden shadow-lg"
>
  <!-- Colonne de gauche : image -->
  <div class="md:w-2/3">
    <a href={`/properties/${key}`}>
      <img
        src={imageUrl || "/placeholder.svg"}
        alt={`Image de ${title}`}
        class="w-full h-full object-cover"
        style="aspect-ratio: 16/9;"
        <!--
        Ajuste
        l'aspect-ratio
        si
        nécessaire
        --
      />
      />
    </a>
  </div>

  <!-- Colonne de droite : informations -->
  <div
    class="relative md:w-1/3 bg-white p-6 space-y-4"
    x-data={`{ favori: ${favoris}, clickFavori() { this.favori = !this.favori; window.setFavori(${JSON.stringify(Astro.props)}) } }`}
    class="rounded-lg overflow-hidden"
  >
    <!-- Prix /mois -->
    <p class="text-gray-500 flex items-center">
      <span class="text-2xl font-bold text-indigo-500">${prix}</span>/month
    </p>

    <!-- Titre de la propriété -->
    <h3 class="text-2xl font-semibold">
      <a class="text-black hover:text-indigo-600" href={`/properties/${key}`}>
        {title}
      </a>
    </h3>

    <!-- Adresse -->
    <address class="text-gray-500 not-italic border-b border-indigo-100 pb-4">
      {address}
    </address>

    <!-- Caractéristiques (chambres, sdb, surface) -->
    <ul class="flex justify-between text-sm gap-2">
      <li class="flex items-center gap-1">
        <IconBed class="w-5 h-5 text-indigo-500" />
        <span>{chambre} beds</span>
      </li>
      <li class="flex items-center gap-1">
        <IconBath class="w-5 h-5 text-indigo-500" />
        <span>{salle_de_bain} bathrooms</span>
      </li>
      <li class="flex items-center gap-1">
        <IconArea class="w-5 h-5 text-indigo-500" />
        <span>{surface} m<sup>2</sup></span>
      </li>
    </ul>
  </div>
</article>
<script>
  //@ts-nocheck
  import { setFavori } from "../backend.mjs";
  window.setFavori = setFavori;
</script>
