---
import { getOffre } from "../../backend.mjs";
import CardComplet from "../../components/CardComplet.astro";
import Base from "../../Layouts/Base.astro";

const { id } = Astro.params;
const offre = await getOffre(id);
if (!offre) {
  return Astro.redirect("/offres");
}
---

<Base titre={offre.nomMaison}>
  <h2>{offre.nomMaison}</h2>
  <CardComplet {...offre} />
   <!-- <ul>
    <li>Adresse: {offre.adresse}</li>
    <li>Prix: {offre.prix} €</li>
    <li>Surface: {offre.surface} m²</li>
    <li>Nombre de pièces: {offre.pieces}</li>
    <li>Description: {offre.description}</li>
  </ul>
  <img src={offre.image || "/placeholder.svg"} alt={offre.nomMaison} /> -->
</Base>
